{% extends 'layout.html' %}
{% import 'macros.html' as macros %}

{% block title %}
{{ super() }}
Bienvenido
{% endblock %}

{% block content %}


<div class="container column is-8">
    {% if username %}

    <div class="content">
        <h1>
            Bienvenido! {{ username | capitalize }}
        </h1>
    </div>

    {% else %}

    {% endif %}
    <form action="{{ url_for('hello') }}" method="POST">
        <div class="field">
            <label class="label">Agregar una tarea</label>
            <div class="control">
                {{ todo_form.description(class='input', type='text', placeholder='Descripción') }}
            </div>
        </div>

        <div class="control">
            {{ todo_form.submit(class="button is-sent-btn has-text-light") }}
        </div>
    </form>

    <div class="content pt-6">
        <h2>
            Tareas
        </h2>
        <ul>
            {% for todo in todos %}
            {{ macros.render_todo(todo, delete_todo, update_todo) }}
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}