{% extends 'layout.html' %}
{% import 'macros.html' as macros %}

{% block title %}
{{ super() }}
Bienvenido
{% endblock %}

{% block content %}

{% if username %}

<div class="control">
    <h1 class="title">
        Bienvenido, {{ username | capitalize }}
    </h1>
</div>

{% else %}

{% endif %}

<br>
<div class="container">

    <form action="{{ url_for('hello') }}" method="POST">
        <div class="field">
            <label class="label">Agregar una tarea</label>
            <div class="control">
                {{ todo_form.description(class='input', type='text', placeholder='Descripción') }}
            </div>
        </div>

        <div class="control">
            {{ todo_form.submit(class="button is-primary") }}
        </div>
    </form>
    <br>
    <ul>
        {% for todo in todos %}
        {{ macros.render_todo(todo, delete_todo, update_todo) }}
        {% endfor %}
    </ul>
</div>

{% endblock %}