<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <script src="../static/js/scripts.js"></script>
    <title>
        {% block title %}
        PyTask |
        {% endblock %}
    </title>
</head>

<body>
    <section class="hero is-large">
        <div class="hero-head navbar-background">
            {% include 'navbar.html'  %}
        </div>

        {% for message in get_flashed_messages() %}
        <br>

        <div class="notification is-primary">
            <button class="delete"></button>
            {{ message }}
        </div>


        {% endfor %}

        <div class="hero-body">

            {% block content %}

            {% endblock %}

        </div>
    </section>
</body>

</html>