{% extends 'layout.html' %}

{% block title %}
{{ super() }}
Login
{% endblock %}

{% block content %}

<div class="container">
    <form action="{{ url_for('login') }}" method="POST">

        <div class="field">

            <p class="control has-icons-left has-icons-right">

                {{ loginForm.username(class='input', placeholder='Usuario') }}

                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </p>
        </div>

        <div class="field">
            <p class="control has-icons-left">

                {{ loginForm.password(class='input', placeholder='Contraseña') }}

                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>

        {{ loginForm.submit(class="button is-success") }}

    </form>
</div>

{% endblock %}