{% macro render_todo(todo, delete_todo, update_todo) %}

<li>
    <div class="">

        <span class="tag is-medium has-background-white">

            {% if todo.to_dict().done %}
            <!-- Rayar el texto -->
            <del> {{ todo.to_dict().descriptions }} </del> 

            {% else %}

            {{ todo.to_dict().descriptions }}

            {% endif %}

            <a class="ml-5" href="{{ url_for('update', todo_id=todo.id, done=todo.to_dict().done) }}">

                {% if todo.to_dict().done %}

                <div class="icon-text">
                    <span class="icon has-text-success">
                        <i class="fas fa-check-circle fa-lg"></i>
                    </span>
                </div>

                {% else %}

                <div class="icon-text">
                    <span class="icon has-text-primary">
                        <i class="far fa-circle fa-lg"></i>
                    </span>
                </div>

                {% endif %}
            </a>

            <!-- {{ delete_todo.submit(class='button is-small is-rounded is-danger ') }} -->
            <a class="ml-4" href="{{ url_for('delete', todo_id=todo.id) }}">
                <div class="icon-text">
                    <span class="icon has-text-grey">
                        <i class="fas fa-times-circle fa-lg"></i>
                    </span>
                </div>
            </a>


        </span>
    </div>

</li>


{% endmacro %}