<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item">
                <span class="title has-text-light">
                    PyTask
                </span>
            </a>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu has-text-light">
            <div class="navbar-end">
                <span class="navbar-item">
                    <a  href="{{ url_for('auth.logout') }}">
                        <span class="icon has-text-light is-medium">
                            <i class="fas fa-sign-out-alt"></i>
                        </span>
                    </a>
                </span>
            </div>
        </div>
    </div>
</nav>