<nav class="navbar has-background-info-dark">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">
            </a>
            <span class="navbar-burger has-text-light" data-target="navbarMenuHeroB">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu has-text-light">
            <div class="navbar-end">
                <span class="navbar-item">
                    <a class="button is-info is-inverted" href="{{ url_for('auth.logout') }}">
                        <span class="icon">
                            <i class="fas fa-sign-out-alt"></i>
                        </span>
                        <span>Exit</span>
                    </a>
                </span>
            </div>
        </div>
    </div>
</nav>