img{
    max-width: 20rem;
}

.background{
    background-color: #EEEEEE;
}

.navbar-background{
    background-color: #393E46;
}

.is-sent-btn{
    background-color: #00ADB5;
    border-color: #00ADB5;
}