{% extends 'layout.html' %}
{% import 'macros.html' as macros %}

{% block title %}
{{ super() }}
Bienvenido
{% endblock %}

{% block content %}

{% if username %}
<h1 class="title">
    Bienvenido, {{ username | capitalize }}
</h1>
{% else %}

{% endif %}

{% if userIp %}
<h1>
    Tu ip es : {{ userIp }}
</h1>
{% else %}
<h1>
    No hay ip <a href="{{ url_for('index')}}" class="is-link">Iniciar sesión</a>
</h1>
{% endif %}
<br>

<br>
<ul>
    {% for todo in todos %}
    {{ macros.render_todo(todo) }}
    {% endfor %}
</ul>

{% endblock %}