{% extends 'layout.html' %}
{% import 'macros.html' as macros %}

{% block title %}
{{ super() }}
Bienvenido
{% endblock %}

{% block content %}

{% if username %}
<h1 class="title">
    Bienvenido, {{ username | capitalize }}
</h1>
{% endif %}

{% if userIp %}
<h1>
    Tu ip es : {{ userIp }}
</h1>
{% else %}
<h1>
    No hay ip <a href="{{ url_for('index')}}"></a>
</h1>
{% endif %}
<br>
<div class="container">
    <form action="{{ url_for('hello') }}" method="POST">

        <div class="field">

            <p class="control has-icons-left has-icons-right">

                {{ loginForm.username(class='input', placeholder='Usuario') }}

                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </p>
        </div>

        <div class="field">
            <p class="control has-icons-left">

                {{ loginForm.password(class='input', placeholder='Contraseña') }}

                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>

        {{ loginForm.submit(class="button is-success") }}

    </form>
</div>
<br>
<ul>
    {% for todo in todos %}
    {{ macros.render_todo(todo) }}
    {% endfor %}
</ul>

{% endblock %}